<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>MVC</title>
</head>

<body>
<form method="post">
<div class="col-md-2">
    <div class="list-group">
        <a class="list-group-item" href="Home.php"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
        <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Posts</a>
        <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Topics</a>
        <a class="list-group-item" href="#"><i class="fa fa-wrench fa-fw"></i>&nbsp; Maintenance</a>
    </div>
</div>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h5 class="pull-left"><span class="fa fa-users"></span>&nbsp;<strong>Edit User Information</strong></h5>
        </div>
        <div class="panel-body">

            <!-- Data Table Goes Here-->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>User type</th>
                        <th>Action</th>
                    </tr>
                </thead>
      <tfoot>

      </tfoot>
                <tbody>
<?php
 foreach($clientinfo as $client)
 {	
		echo '<tr>';			
		echo '<td><input type="text" name="username" value="'.$client["userName"].'"><input type="hidden" name="userid"  value="'.$client["userID"].'"></td>';
		echo '<td><input type="text" name="pass" value="'.$client["userPassword"].'"> </td>';
		echo '<td><input type="text" name="fname" value="'.$client["userFirstName"].'"> </td>';
		echo '<td><input type="text" name="lname" value="'.$client["userLastName"].'"> </td>';
		echo '<td><input type="text" name="contact" value="'.$client["userContactNum"].'"> </td>';
		echo '<td><input type="text" name="address" value="'.$client["userAddress"].'"> </td>';
		echo '<td><input type="text" name="email" value="'.$client["userEmail"].'"> </td>';
		echo '<td><input type="text" name="status" value="'.$client["userStatus"].'"> </td>';
		echo '<td><input type="text" name="usertype" value="'.$client["userTypeID"].'"> </td>';
		echo '<td><button name="editbutton" type="submit" class="btn-primary" style="float:right; margin-right: 90px;">Edit</button></td>';
		echo '</tr>';
 }
 
 if(isset($_POST["editbutton"]))
 {		
		include_once 'controller/userControl.php';
		$array = array(
		"userName" => $_POST["username"],
		"userPassword" => $_POST["pass"],
		"userFirstName" => $_POST["fname"],
		"userLastName" => $_POST["lname"],
		"userContactNum" => $_POST["contact"],	
		"userAddress" => $_POST["address"],
		"userEmail" => $_POST["email"],	
		"userStatus" => $_POST["status"],
		"userTypeID" => $_POST["usertype"]
		);
		$obj = new userControl;
		$obj->updateinfo($array, "userID", $_POST["userid"]);			
 }
?>
                </tbody>
            </table>
            <!-- End Data Table-->


        </div>
    </div>
</div>
</form>
</body>

</html>

