<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>MVC</title>
</head>

<body>
<form method="post">
<div class="col-md-2">
    <div class="list-group">
        <a class="list-group-item" href="Home.php"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
        <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Posts</a>
        <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Topics</a>
        <a class="list-group-item" href="#"><i class="fa fa-wrench fa-fw"></i>&nbsp; Maintenance</a>
    </div>
</div>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h5 class="pull-left"><span class="fa fa-users"></span>&nbsp;<strong>Employee List</strong></h5>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-wrench fa-fw"></span>&nbsp;Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#employeeModal">Add Record</a></li>
                    <li><a href="#">Import Records</a></li>
                    <li><a href="#">Export Records</a></li>                   
                </ul>
            </div>
        </div>
        <div class="panel-body">

            <!-- Data Table Goes Here-->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>User type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>User type</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
<?php 
 foreach($cont as $c)
	{
		echo '<tr>';
		echo '<td> '.$c["userID"].' </td>';
		echo '<td> '.$c["userName"].' </td>';
		echo '<td> '.$c["userPassword"].' </td>';
		echo '<td> '.$c["userStatus"].' </td>';		
		echo '<td> '.$c["userTypeID"].' </td>';
		echo '<td><a href="editinfo.php?control=user&action=edit&id='.$c["userID"].'"><big>Edit</a></td>';		
	 
	}

?>
                </tbody>
            </table>
            <!-- End Data Table-->


        </div>
    </div>
</div>
</form>
</body>

</html>
